.scrollable-image {
    width: 1000px;
}

.image-container {
    position: relative;
    margin-left: auto;
    margin-right: auto;
    width: 1000px;
    display: block;
}

#video-container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
    flex-direction: column;
}

.bottom-right-button {
    position: absolute;
    bottom: 16px;
    right: 16px;
    width: 100px;
    height: 100px;
    opacity: 0.5;
    background-size: cover;
}

.bottom-center-button {
    position: absolute;
    bottom: 16px;
    width: 100px;
    height: 100px;
    opacity: 0.5;
    background-size: cover;
}

.bottom-left-button {
    position: absolute;
    bottom: 16px;
    left: 16px;
    width: 100px;
    height: 100px;
    opacity: 0.5;
    background-size: cover;
}

#bottom-left-button-index {
    background-image: url(res/icon_left_button.png);
}

#bottom-left-button-video {
    display: flex;
    align-items: flex-start;
    width: 268px;
    height: 82px;
    opacity: 0.5;
    background-size: cover;
    background-image: url(res/icona.quiz.png);
}
#bottom-center-button-video {
    display: flex;
    align-items: center;
    width: 268px;
    height: 82px;
    opacity: 0.5;
    background-size: cover;
    background-image: url(res/icona.trailer.png);
}
#bottom-right-button-video {
    display: flex;
    align-items: flex-end;
    width: 268px;
    height: 82px;
    opacity: 0.5;
    background-size: cover;
    background-image: url(res/icona.vr.png);
}

#bottom-right-button-index {
    background-image: url(res/icon_right_button.png);
}

#buttons-container {
    height: 82px;
    width: 80%;
    margin-top: 20px;
    margin-right: 20px;
    margin-left: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

body {
    background: #545694;
}

body#b1{
    display: table;
    height:100%;
    width: 100%;
    overflow: hidden;
}

.video {
    width: 90%;
    height: 80%;
}

html {
    height: 100%;
    width: 100%;
}

.quiz-left {
    padding-top: 10px;
    font-size: xx-large;
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
    color: #0099ff;
    position: absolute;
    bottom: 16px;
    left: 86px;
}

.quiz-right {
    position: absolute;
    bottom: 16px;
    right: 86px;
    padding-top: 10px;
    font-size: xx-large;
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
    color: #0099ff;
}

